<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Добавление новой награды</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="header">...</div>

<div class="w-full max-w-xs">
    <form th:action="${'/awards/add'}" method="post" th:object="${awards}"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">название награды</label>
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input th:field="*{name}"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   type="text" name="name" placeholder="Введите название">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">номер награды</label>
            <div style="color: red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>
            <input th:field="*{number}"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   type="number" name="number" placeholder="Выберите номер ">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">дата создания</label>
            <div style="color: red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
            <input class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                   th:field="*{date}" type="date"  placeholder="дата награды">
        </div>



        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">Добавить награды
        </button>
    </form>
</div>
</body>
</html>