<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:value="${awards.name}"></title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="header">...</div>

<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2" th:text="'Название награды: '+${awards.name}"/>
        <p class="text-gray-700 text-base" th:text="' номер награды: '+${awards.number}"/>
        <p class="text-gray-700 text-base" th:text="'дата создания награды: '+${awards.date}"/>

    </div>
</div>
</body>
</html>